# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/

# ==============================
# IDE
# ==============================

.idea/
.vscode/

# ==============================
# Environment Variables
# ==============================

.env

# ==============================
# Logs
# ==============================

logs/
*.log

# ==============================
# Database
# ==============================

database/*.db
database/*.sqlite3

# ==============================
# Uploads & Exports
# ==============================

uploads/*
!uploads/.gitkeep

exports/*
!exports/.gitkeep

# ==============================
# Datasets
# ==============================

datasets/*
!datasets/.gitkeep

# ==============================
# OS Files
# ==============================

Thumbs.db
.DS_Store

# ==============================
# Testing
# ==============================

.pytest_cache/
.coverage
htmlcov/